body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    height: auto;
    display: block;
}

.centered {
    max-width: 400px;
    margin: 40px auto 20px auto;
}

a {
    color: #2c3e50;
    text-decoration: none;
}


@media (max-width: 700px) {
    .centered {
        max-width: 300px;
    }
}

@media (max-width: 300px) {
    .centered {
        max-width: 200px;
    }
}